.login {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  background-color: rgb(255, 255, 255);
  width: 70% !important;
  height: auto !important;
  // height: 300px;
}
.carousel .slide {
  background-color: white !important;
 
}

:focus {
  outline: none !important;
}
.content {
  padding-bottom: 30px !important;
  padding: 0px 20px;
  .heading {
    font-weight: 700;
    font-size: 16px;
  }
  .caption {
    font-weight: 300;
    font-size: 14px;
  }
}
.MuiButton-containedPrimary {
  color: #525252 !important;
  background-color: #ffffff !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border-radius: 20px !important;
  width: 80% !important;
  margin-top: 15px !important;
}
@media (min-width: 600px){
  .MuiContainer-maxWidthSm {
    max-width: 500px !important;
  }

}

.slide-1{
 width: 90%;
}