.login {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  background-color: rgb(255, 255, 255);
  width: 70% !important;
  height: auto !important;
  // height: 300px;
}
.carousel .slide {
  background-color: white !important;
}

:focus {
  outline: none !important;
}
.content{
  padding-bottom: 30px !important;
  padding: 0px 20px;
  .heading{
    font-weight: 700;
    font-size: 16px;
    
  }
  .caption{
    font-weight: 300;
    font-size: 14px;
  }
}