.login {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  background-color: rgb(255, 255, 255);
  width: 70% !important;
  height: auto !important;
  // height: 300px;
}
.carousel .slide {
  background-color: white !important;
}

:focus {
  outline: none !important;
}
